/*
Color scheme:
UU colors
obtained from https://www.ulster.ac.uk/__data/assets/pdf_file/0008/391058/UU-Brand-Guidelines-April-2019.pdf
pure Gold: #BBA461
core blue (dark): #00003F

Night Black: #000000
Ghost White: #FFFFFF

Stone Grey: #5E6D77
Light Grey: #C6D1D6
Deep Blue: #151F6D
Bright Blue: 009FDF
Core Blue: #041E42
Sky Blue: #00B5E2
*/

html {

}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #C6D1D6;
  color: #00003F;
  background-image: url("../media/cinema_seats.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.jumbotron {
  margin: 1em auto;
  width: 80%;
  background-color: #00B5E2;
  display: flex;
  align-items: center;
  flex-direction: row;
}


.jumbotron h1, .jumbotron h3, .jumbotron p {
  color: #00003F;
}
.jumbotron img {
  width: 90%;
}
.jumbotron div {
  width: 100%;
  flex-direction: row;
}
.jumbotron .right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BBA461;
  height: 100%;
  width: 100%;
}
.carousel {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 6em;
  width: 25em;
  height: 8em;
  background-color: #BBA461;
}


nav {
  background-color: #FFFFFF;
}
nav, nav div {
  width: 80%;
  display: flex;
  justify-content: center;
  text-align: center;

}
nav div {
  width: 90%;
}
.navbar-brand {
  width: 3em;
}

main {
  background-color: #FFFFFF;
  width: 80%;

}
.CurrentTime {
  display: flex;
  justify-content: center;
  background-color: #00B5E2;
}
.CurrentTime p {
  margin: 1em auto 0 auto;
  padding: 1em;
  background-color: #FFFFFF;
  border-bottom: 2px solid #BBA461;
}
.CurrentTime span {
  color: #BBA461;
  font-weight: bold;
}

.movies {
  padding-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.movieCards {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.card {
  margin: 1em auto;
}

.summary {
  display: flex;
  background-image: url("../media/popcorn.jpg");
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2em;
  margin: 2em;
  background-repeat: no-repeat;
  background-position: bottom;
  color: #00003F;
  background-size: 100% auto;
}

.summary .btn-primary,
.summary .btn-primary:hover,
.summary .btn-primary:active,
.summary .btn-primary:visited {
    background-color: #BBA461 !important;
    border-color: #BBA461;
    width: 50%;

}

footer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #00B5E2;
}
