/*page done by Peter Hassard */


.movies {
  padding-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.movieCards {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.card {
  margin: 1em auto;
}
