/*page done by Peter Hassard */


.movies {
  padding-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.movieCards {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.card {
  margin: 1em auto;
}

.summary {
  display: flex;
  background-image: url("../media/popcorn.jpg");
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2em;
  margin: 2em;
  background-repeat: no-repeat;
  background-position: bottom;
  color: #00003F;
  background-size: 100% auto;
}

.summary .btn-primary,
.summary .btn-primary:hover,
.summary .btn-primary:active,
.summary .btn-primary:visited {
    background-color: #BBA461 !important;
    border-color: #BBA461;
    width: 50%;

}
