/* made by Peter Bruce */

body {
  color: #555555;
  background-image: url("../media/cinema_seats_full.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.tab-section{
	margin: 40px auto;
	padding: 0 lem;
	width: 65%;
	float: right;
}

.tab-area{
	position: relative;
	width: 100%;
	color: #000;
}

input{
	position: absolute;
	opacity: 0;
	z-index: -1;
}

label {
	background: #00B5E2;
	border: 1px solid #fff;
  border-radius: 2%;
	display: flex;
	font-size: 18px;
	line-height: 2;
	padding: 0.5em;
	position: relative;
	transition: all 0.3s ease 0s;
	color: #fff;
  margin-top: 0.5em;

}

label:hover{
	background: #000;
	color: #fff;
}

.tab-content{
	background: #fff;
	max-height: 0;
	overflow: hidden;
	padding: 0 15px;
	-webkit-transition: max-height .35s;
	-o-transition: max-height .35s;
	transition: max-height .35s;
	font-size: 15px;
	color: #262626;
	font-family:poppins;
	line-height: 30px;

}

input:checked ~ .tab-content{
	max-height: 30em;
}
main {
  padding: 1em;
}
