/*
white: #ffffff
black: #000000
RED HEX COLOR: #EC0C1C;
                rgb(236,12,28);
DARK RED HEX COLOR: #D80919;
                    rgb(216,9,25);
BLUE HEX COLOR: #063672;
GOLD HEX COLOR: #9B814E;

font-family: 'Raleway', Helvetica, sans-serif;
font-family: 'Raleway Dots', cursive;
font-family: 'PT Serif', Georgia, serif;
font-family: 'IBM Plex Sans', Helvetica, sans-serif;
*/
body {
  color: #ffffff;
}

.belowTitle {
  background: linear-gradient(to right, rgb(236,12,28), #063672);
  width: 100%;
  padding-bottom: 7em;
  position: static;
}
#navigation.shrink {
  opacity: 0.6;
}
.other.shrink {
  opacity: 0;
}


.titles {
  width: 100%;
  margin: auto;
  margin-top: 0.5em;
  text-align: center;
  font-family: 'Raleway', Helvetica, sans-serif;
}
.titles h1 {
  font-weight: 800;
}


#FixtureList {
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  margin-top: 2em;
  width: 95%;
  border-collapse: separate;
  border-spacing: 0 1em;
  background: #ffffff;
  padding: 1em;
  padding-top: 0;
  font-family: 'Raleway', Helvetica, sans-serif;
}
col {
  display: flex;
  flex-wrap: wrap;

}
th {
  background: #063672;
  color: #ffffff;
  position: sticky;
  padding-top: 1.5em;
  padding-bottom: 1em;
  text-align: center;
  font-size: 1.2em
}
.months {
  width: 100%;
  padding: 2em;
  padding-top: 0.5em;
  padding-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.months h2 {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-weight: bold;
  color: #ffffff;
}
.months h2 i{
  margin-right: 0.5em;
}
.months ul {
  display:  flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  justify-content: space-around;
}
.months li {
  min-width: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto 1em;
  margin-top: 1em;
  background-color: #9B814E;
  border-radius: 10%;
  transition: background-color 1s ease;
}
.months li a{
  color: #ffffff;
  padding: 1em;
  text-align: center;
  margin: auto;
}
.months li:hover a{
  color: #9B814E;
}
.months li:hover{
  background-color: #ffffff;

}

tr {
  background: rgb(236,12,28);
  height: 5em;
  margin-bottom: 1em;
}
tr td{
  padding-top: 1.75em;
  text-align: center;
  font-size: 1.1em;
}
tr:nth-child(even) {
  background: rgb(216,9,25);
}
tr td:nth-child(3) {
  font-weight: bold;
}
tr td:nth-child(6) {
  font-weight: bold;
}

tr:hover {
  background: #9B814E;
  color: #ffffff;
}
@media only screen and (max-width: 1000px) {
tr th:nth-child(5),
tr td:nth-child(5) {
  display: none;
}
}
@media only screen and (max-width: 800px) {
tr th:nth-child(7),
tr td:nth-child(7) {
  display: none;
}
tr th:nth-child(2),
tr td:nth-child(2) {
  display: none;
}
}
/* Buttons */
.Buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
.Buttons h2 {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-weight: bold;
  color: #ffffff;
}
.Buttons h2 i{
  margin-right: 0.25em;
}

button {
  background:transparent;
  border:none;
  outline:none;
  display:block;
}
.displayteams, .hideteams {
  border: 2px solid #9B814E;
  font-size: 2em;
  display: flex;
  background: #EC0C1C;
  padding: 0.4em;
  padding-top: 0.5em;
  border-radius: 3em / 5em;
  transition: background-color 1s ease;
  margin-bottom: 1em;
}
.displayteams:hover {
  background-color: #063672;
}
.hideteams {
  background-color: #063672;
  display: none;
}
.hideteams:hover {
  background-color: #EC0C1C;
}

/* teams n badges */

#teams {
  width: 95%;
  display: none;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  margin: auto;
}
.team {
  width: 10em;
  height: 13em;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  border: 0.1em solid #ffffff;
  padding: 0.5em;
  border-radius: 2em / 1em;
  margin: 0.75em;
}
.teamBadge {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70%;
  margin-bottom: 0.5em;
}
.teamBadge img {
  max-width: 100%;
  max-height: 100%;
}
.teamButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.teamButtons div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 4em;
  height: 3em;
  border: 0.1em solid #ffffff;
  border-radius: 2em / 1em;
}

.teamButtons .home {
  background-color: #EC0C1C;;
}
.teamButtons .away {
  background-color: #063672;
}

.teamButtons div a{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2em / 1em;
  color: #ffffff;
  width: 100%;
  height: 100%;
  transition: background-color 1s ease;
}

.teamButtons div a:hover{
  background-color: #9B814E;
  color: #ffffff;
}
/*Modal */

#orderModal {
  font-family: 'Raleway', Helvetica, sans-serif;
  color: #000000;
}
#orderModal h5{
  color: #D80919;
  font-weight: 800;
}

footer {
  margin-top: -12em;
}

#orderTickets {
  display: none;
}
#orderTickets.ticketForm {
  display: flex;
  width: 100%;
}

#ticketInfoDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-content: center;
  background: #D80919;
  text-align: center;
}
#ticketInfoDiv a {
  color: #000000;
}
